/* Roadline.module.css */
.roadmapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.componentWrapper {
    position: relative; /* This is needed to position the connecting lines correctly */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: margin-top 0.3s ease-out;
}
.back1 {
    position: absolute;
    top: 30%; /* Adjust based on actual positioning */
    right: 6%; /* Adjust based on actual positioning */
    z-index: -1; /* Ensure it stays in the background */
    transform: scaleX(-1); /* Flip image horizontally */
}


.back2 {
    position: absolute;
    top: 69%; /* Adjust based on actual positioning */
    right: 5%; /* Adjust based on actual positioning */
    z-index: -1; /* Ensure it stays in the background */
    transform: rotate(-22deg);
}

.back3 {
    position: absolute;
    bottom: 51%; /* Adjust based on actual positioning */
    left: 10%; /* Adjust based on actual positioning */
    z-index: -1; /* Ensure it stays in the background */
}

.back4 {
    position: absolute;
    bottom: 38%; /* Adjust based on actual positioning */
    left: 5%; /* Adjust based on actual positioning */
    z-index: -1; /* Ensure it stays in the background */
}


.roadLine {
    height: 282px;
    width: 3px;
    background-color: #fff;
}

/* Add these styles to Roadline.module.css */
.connectingLine {
    width: 130px; /* Width of the connecting line */
    background-color: #fff; /* Color of the connecting line */
    height: 1px; /* Adjust the height as needed */
    position: relative; /* Positioning relative to the parent */
}

.leftComponent {
    position: relative; /* Needed to position the connecting line correctly */
    width: 450px;
    height: 54px;
    background-color: #242424;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    color: white;
    padding: 0 20px 0 20px;
    transition: width 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0; /* Prevent it from shrinking */
    flex-grow: 0;
}
.backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensures the background is behind all other content */
    display: flex;
    justify-content: space-around; /* Distributes the images evenly */
    align-items: center; /* Center the images vertically */
}

.backgroundImage {

    object-fit: cover; /* Ensures the images cover their area without stretching */
}

.expandedComponent {
    background-color: #1dc063;
    transition: height 0.3s ease-out, background-color 0.3s ease;
    overflow: hidden;
}

.rightComponent {
    position: relative; /* Needed to position the connecting line correctly */
    width: 450px;
    height: 54px;
    background-color: #242424;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    color: white;
    padding: 0 20px 0 20px;
}

/* Add this to ensure the lines don't extend beyond the components */
.additionalContent {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f60000;
    transition: all 0.3s ease;
    overflow: hidden;
    max-height: 0;
    z-index: 10;
}


.expandedComponent .additionalContent {
    max-height: 200px; /* Adjust this value based on the content size */
    padding: 20px; /* Add some padding around the content */
}

/* Adjust the .leftComponent and .rightComponent if necessary to ensure they do not move */
.leftComponent, .rightComponent {

}


.emptyComponent {
    width: 580px; /* To balance the space on the opposite side */
    height: 54px; /* Keep consistent with the left and right components */
}

/* Add styles for the indicators */
.triangleUp {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #f62020; /* Adjust color if needed */
}

.triangleDown {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #76E2AE; /* Adjust color if needed */
}
