.advisorsContainer {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px 15%;
}

@media screen and (max-width: 768px) {
  .advisorsContainer {
    justify-content: center;
  }
}
