.faqContainer {
 
  margin-top: 140px;
  margin-bottom: 100px;
  width:100%;
  display: flex;
   flex-direction: column;
    align-items: center;
  justify-content: center;
}

.faqTitle {
  font-size: 40px;
  color: #fff;
  margin-left: 25px;
  text-align: center;
}

.questionsContainer {
  padding: 20px;
  width: 50%;
}

.question {
  border-top: 2px solid #fff;
}

.questionHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
}

.questionText {
  font-size: 16px;
  color: white;
}

.arrowIcon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.answer {
  padding: 10px;
}

.answerText {
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 768px) {
  .faqContainer {
    margin-left: 0;
    margin-top: 100px;
    width: 100%;
  }

  .questionsContainer {
    padding: 20px;
    width: 90%;
  }

  .faqTitle {
    font-size: 32px;
  }



  .questionHeader {
    padding: 12px 8px;
  }

  .questionText {
    font-size: 14px;
  }

  .answerText {
    font-size: 12px;
  }
}