.footerContainer {
  width: 100%;
  padding: 20px 10%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #fff;
}

.logoSection {
  /* display: flex; */
  /* justify-content: center; */
  /* margin-bottom: 20px; */
}

.linksContainer {
  display: flex;
  justify-content:space-between;
  gap: 40px;
  width: 100%;
  max-width: 600px;
  margin: auto 20px;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
}

.footerHeading {
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: normal;
}

.footerLink {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 8px;
}

.socialMedia {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.copyRight {
  margin-top: 20px;
  font-size: 12px;
}

.buttonStyleX {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-decoration: none;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 5.938vw;
  transition: background-color 0.3s; /* Smooth transition for hover effects */
  filter: brightness(50%);
}

.buttonStyleWP{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  text-decoration: none;
  color: #fff;
  background-color: #444;
  border: none;
  border-radius: 114px;
  transition: background-color 0.3s; /* Smooth transition for hover effects */
}

.buttonStyleWP a,
.buttonStyleX a {
  margin: 0;
  padding: 0;
  height: 26px;
}

.buttonStyleWP:hover{
  background-color: #555; /* Slightly lighter on hover */
}

.footerLink:hover {
  color: #03fb05; /* Change to your preferred hover color */
  text-decoration: underline; /* Adds an underline on hover */
}

@media only screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .linksContainer {
    flex-direction: column;
    align-items: center;
    gap:0px;
  }

  .footerHeading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .footerLink {
    text-align: center;
    margin-bottom: 5px;
  }

  .socialMedia {
    justify-content: center;
    margin-top: 20px;
  }

  .copyRight {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

