/* Regular button style (buttonStyle) */
.buttonStyle {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}
.buttonStyle:hover {
    background-color: #ffffff; /* Change as per your design preference */
    color: #141415; /* Change text color on hover */
}

/* Button style two (buttonStyleTwo) - although not used, here's how you can define it */
.buttonStyleTwo {
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #323232;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}
.buttonStyleTwo:hover {
    background-color: #505050; /* Darker shade on hover */
}

/* Button style three (buttonStyleThree) */
.buttonStyleThree {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: #2BEA2A;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s; /* Smooth transition for hover effects */
}
.buttonStyleThree:hover {
    opacity: 0.8; /* Slight transparency on hover */
}

/* Button style for social icons (buttonStyleWP) */
.buttonStyleWP {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 114px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}
.buttonStyleWP:hover {
    background-color: #555; /* Slightly lighter on hover */
}
