.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    cursor: pointer;
}

.container:hover {
     /* Changes cursor to pointer when hovering over the container */
}

.infoBox {
    padding: 16px 90px;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    width: fit-content;
    display: flex;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Add transition for smoothness */
}

.infoBox:hover {
    transform: translateY(-5px); /* Slight lift */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.horizontalLine {
    height: 3px;
    width: 14%;
    background-color: #fff;
    margin-top: 60px;
}
