.wrapper {
  display: flex;
  padding-top: 260px;
  margin-bottom: 100px;
  width: 100%;
  justify-content: center;
  gap: 180px;
}
.seasonTwoContainer {
  color: white;
  padding: 10px;
  z-index: 2;
  text-align: center;
}

.heading {
  color: #2bea2a;
  font-size: 48px;
  margin-bottom: 20px;
}

.subheading {
  color: #2bea2a;
  font-size: 36px;
  margin-bottom: 40px;
}

.paragraph {
  font-size: 20px;
  margin: 10px 0;
}
.texts {
}
.italicParagraph {
  font-size: 20px;
  font-style: italic;
}

.xpBarContainer {
  position: relative;
  height: 6px; /* Adjust the height as needed */
  background-color: #ddd; /* Light gray background for the XP bar */
  border-radius: 10px; /* Optional: rounded corners */
  margin: 40px 0 0 0; /* Spacing for visual clarity */
}

.xpBar {
  height: 100%;
  background-color: #2be82b; /* Green color for progress */
  border-radius: 10px; /* Match the container's border-radius */
}

.xpText {
  position: absolute;
  margin-top: 4px;
  width: 100%;
  text-align: center;
  line-height: 20px; /* Aligns text vertically; should match the height of .xpBarContainer */
  font-weight: normal;
}

@media screen and (max-width: 1108px) {
  .heading {
    font-size: 36px;
  }

  .subheading {
    font-size: 24px;
  }

  .paragraph,
  .italicParagraph {
    font-size: 16px;
  }

  .xpBarContainer {
    margin-top: 20px;
  }

  .wrapper {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items horizontally on smaller screens */
    gap: 0;
    margin-bottom: 0;
  }
}
